body{
    background-color: rgb(247, 214, 192);
}

div{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}


.description{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300px;
    background-color: brown;
    width: fit-content;
}


